<h1 class="govuk-heading-xl">Teams</h1>

<ul class="govuk-list govuk-list--bullet">
  <% @teams.each do |team| %>
    <li>
    <%= link_to team_path(team), class: 'govuk-link' do %>
      <%= team.name %> (<%= team.calendars.length %>)
    <% end %>
    </li>
  <% end %>
</ul>
