<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to '/', class: 'govuk-breadcrumbs__link' do %>Home<% end %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to org_map_path, class: 'govuk-breadcrumbs__link' do %>
        Organisational map
      <% end %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">Organisational map</h1>

<div class="org-chart"><%= @org_map_image.html_safe %></div>
