<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
    internal
  </strong>
  <span class="govuk-phase-banner__text">
    This is an internal service.

    The source code is on
    <%= link_to 'GitHub', 'https://github.com/alphagov/who-is-on-call', class: 'govuk-link' %>.

    To get help, ask in slack/#reliability-eng.
  </span>
  </p>
</div>
